<p>main works!</p>
<!--Directives-->
<!-- Directives is defined as changing behaviour,appearence,and layout of the element.Threee types
 1.Component
 2.Structural
 3.Attribute -->

 <!-- Structural -->
  <!-- ng-for is used to list the content-->
 <p>{{title}}</p>
 <ul>
    <li *ngFor="let movie of movies">
        {{movie}}
    </li>
</ul> 
<p>{{value}}</p>
<div>
    <table >
        <thead>
            <tr>
            <th>Sno</th>
            <th>name</th>
            <th>age</th>
        </tr>
        </thead>
        <tbody>
            <tr
            [ngClass]='{"bg-success":o}'
                 *ngFor="let m of s; let i=index;let o=odd,let e=even">
                <td>{{i+1}}</td>
                <td>{{m.name}}</td>
                <td>{{m.age}}</td>
            </tr>      
        </tbody>
    </table>
</div>


<!-- ng switch is used to display the contentof the value-->
<label for="">Type Num</label>
<input type="text" [(ngModel)]="num">
<div [ngSwitch]="num">
    <div *ngSwitchCase="1">One</div>
    <div *ngSwitchCase="2">Two</div>
    <div *ngSwitchCase="5">Five</div>
</div>
 
<!-- ng-if is used to show and hide the content..if it is true its show the content..if false it should hide it-->
<label for="">Checkbox</label>
<input type="checkbox" [(ngModel)]="showme"> <!--ngModel is used for both operation in two way binding-->
<p *ngIf="showme">Showme Checked</p>
<p *ngIf="!showme">Showme UnChecked</p>

<!--ngif-- then and else -->
<input type="checkbox" [(ngModel)]="values">
<div *ngIf="values;then ifBlock;else elseBlock" ></div>
<ng-template #ifBlock>
    <p *ngIf="values">Values Visible</p>
</ng-template>
<ng-template #elseBlock>
    <p *ngIf="!values">Values NotVisible</p>
</ng-template>


<!-- Attribute Directive -->
RED<input type="checkbox" [(ngModel)]="EnableRed">
BIG<input type="checkbox" [(ngModel)]="EnableBig">
ITALIC<input type="checkbox" [(ngModel)]="EnableItalic">
<!--primary is  a class name..classes is a method..ng class attribute instead of class="primary"-->
<div [ngClass]="{
    'primary':EnableRed,
    'Big':EnableBig,
    'Italic':EnableItalic
}"> 
    Sample
</div> 
<!--ng-style -->
<div [ngStyle]="{'color':status=='available'?'red':'blue'}">Available</div>
color:<input type="text" [(ngModel)]="color">
<div [ngStyle]="{'color':color,'background-color':Backgroundcolor}"><h1>Sample</h1></div>

background color:<input type="text" [(ngModel)]="Backgroundcolor">
<div [ngStyle]="{'background-color':Backgroundcolor}"><h1>Sample</h1></div>

<!-- Template -->

<!-- Template is a html file that defines the user interface of a component..It combines standard html with 
 angular specific synatax to enable dynamic rendering of content,binding data and handling events

Example:
1.Display Data: Show values from component properties using interpolation (e.g., {{ value }}).
2.Bind Events: Respond to user interactions (e.g., clicking a button) with event binding (e.g., (click)="method()").
3.Use Structural Directives: Control the rendering of elements based on conditions (e.g., *ngIf, *ngFor).-->

<button type="button" (click)="val=!val">
    {{val?'Show':'Hide'}}</button>
    <p *ngIf="val">Value is Visible</p>
    <p *ngIf="!val">Value is Not visible</p>


<!--Pipes -->
<!--pipes are a powerful feature used to transform data in templates. They allow you to format, filter, or modify 
the data displayed to users without changing the original data.


Built-in Pipes
Angular provides several built-in pipes, including:

DatePipe: Formats dates.
{{ currentDate | date:'fullDate' }}

CurrencyPipe: Formats numbers as currency.
{{ amount | currency:'USD':'symbol':'1.2-2' }}

DecimalPipe: Formats numbers with decimal points.
{{ number | number:'1.2-2' }}

PercentPipe: Formats numbers as percentages.
{{ fraction | percent }}

SlicePipe: Slices an array or string.
{{ array | slice:1:3 }}

UpperCasePipe / LowerCasePipe: Converts strings to upper or lower case.
{{ text | uppercase }}


custom pipes: ng generate pipe reverse
-------------------------------------------------------
import { Pipe, PipeTransform } from '@angular/core';

@Pipe({
  name: 'reverse'
})
export class ReversePipe implements PipeTransform {
  transform(value: string): string {
    return value.split('').reverse().join('');
  }
}

{{ 'hello' | reverse }}

-->
<p>{{ 'hello' | reverse }}</p>

<h1>Date Pipe Example</h1>
<p>CurrentDate:{{currentDate|date}}</p>
<p>FullDate:{{currentDate|date:'fullDate'}}</p>
<p>MediumDate:{{currentDate|date:'medium'}}</p>
<p>ShortDate:{{currentDate|date:'shortDate'}}</p>
<p>Custom Format:{{currentDate|date:'yyyy-MM-dd HH:mm:ss'}}</p>

<h1>LowerUpper Case</h1>
<p>UpperCase:{{message|uppercase}}</p>
<p>Lowercase:{{message|lowercase}}</p>
<p>Slice:{{message|slice:11:13}}</p>

<h1>Currency</h1>
<p>Currency:{{price|currency}}</p>
<p>Currency:{{price|currency:'INR'}}</p>
<p>Currency:{{price|currency:'INR ':false}}</p>

<h1>PercentPipe: Formats numbers as percentages.</h1>
<p>Percent:{{fraction|percent}}</p>

<h1>DecimalPipe: Formats numbers with decimal points</h1>
<p>Decimal:{{number|number:'1.2-3'}}</p> <!--1.2-3 this format..At least 1 digit before the decimal point.
At least 2 digits and at most 3 digits after the decimal point.-->

<h1>TitleCase</h1>
<p>Titlecase:{{name|titlecase}}</p>